@import "tailwindcss";

:root {
  --background: #fff;
}

@theme inline {
  --color-background: var(--background);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ededed;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.image {
  border-radius: 100px;
}
